img {
  width: 200px;
 
}
.footer {
  background-color: transparent;
  height:30px;
  height:100px;
}



.banner {

 
  display: flex;
  height: 200px;
  background-color: red;
  justify-content: center;

}

.nav {
 
  background-color: blue;
  height: 30px;
  text-align: center;

}

* {
  padding: 0;
  margin: 0;
}

@keyframes my-animation {
  from {background-color: blue;}
  to {background-color: green;}
 
 

}
.websitecontent {

  background-color: white;
  height:400px;
  width: 1920px;
  display: flex;
  justify-content: left;
  align-items: center;
 
 
}

.content {
 
  display:flex;

  height:50px;
  width:50px;
  border-radius: 50%;
  display: inline-block;
  animation: my-animation 2s backwards infinite alternate;
  transition-timing-function: ease-in-out;
  transition-duration: 0.20s;
  margin-left: 50px;
}
.content:hover {
  transform:scale(1.2);
}

div {
  border: 2px solid black;
}

div + div {
  border-top:0;
}

a {
  padding:1cm;
  transition-timing-function: ease-in-out;
  transition: 0.3s;
}

a:hover {
  color: red;
  transform: scale(1.2);
}
